.home_page_image{
    width:100vw;
    height:100vh;
    position:absolute; /*Makes the image use up no whitespace, as it has 0px left/top. This makes the image neater*/
    left:0px;
    top:0px;
    z-index:-1; /*Makes other smaller images appear over this one, so they aren't overlapped*/
}

.header_image{
    width:29.34vw;
    margin-left:1.5vw;
    position: absolute;
    top:-5px;
}
.header_links{
    margin-left:32vw;
    margin-top:2vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.header_links a{
    color:white;
    font-size:3vw;
    padding-left:1.5vw;
    padding-right:1.5vw;
}