body{
    background-color: whitesmoke;
}
html{
    overflow-x:hidden; /*hides the horizontal scrollbar*/
}
::-webkit-scrollbar {
    width: 8px;        /* Make the scrollbar length 8 pixels */
  }
::-webkit-scrollbar-thumb {
    background: #7ed8df; /* Make the scrollbar tracker light-blue, to fit the cold and cozy theme */
  }
::-webkit-scrollbar-track{
    background: #ffffff;
}
h1{
    margin:1vw;
}
.header_links{
    margin-left:2vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-bottom:1vw solid black;
    border-left:1vw solid black;
    border-right:1vw solid black;
    background-color:lightblue;
    margin-right:1vw;
    position: fixed; /*fixed, so it stays in the webite no matter how far the user has scrolled.*/
    top:0;
    left:1vw;
    transition: 0.3s;/*used to make the fade-out animation smooth*/
}
.header_links:hover{
    transition: 0.3s; /*used to make the fade-in animation smooth*/
}
.header_links a{
    color:white;
    font-size:3rem;
    padding-left:3vw;
    padding-right:3vw;
    text-decoration: none;
    text-shadow:2px 2px 3px black;
    transition:200ms;
}


.header_links a:hover{  
    text-shadow:0px 0px black;
    
}

.home_page_image{
    width:100vw;
    height:100vh;
    position:absolute; /*Makes the image use up no whitespace, as it has 0px left/top. This makes the image neater*/
    left:0px;
    top:0px;
    z-index:-1; /*Makes other smaller images appear over this one, so they aren't overlapped*/
    opacity:70%; /*allows the logo to be seen more clearly*/
}

.logo_image{
    width:57.34vw;
    position: absolute; /*Positon absolute is used to accurately place the logo image*/
    top:25%;
    left:20%;
}

.header_links a{
    color:white;
    font-size:3vw;
    padding-left:3vw;
    padding-right:3vw;
    text-decoration: none;
    text-shadow:2px 2px 3px black;
    transition:200ms;
}

.quote{
color:rgb(53, 53, 53);
font-size:3.5vw;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
position:absolute;
left:25vw;
top:52vh;
} 

.about_us{
    margin-top:106vh;
}
.intro_box{
    margin-top:10vh;
    margin-left:33vw;
    margin-bottom:3vw;
    text-align: center;
    width:30vw;
    height:5vw;
    background-color:#affaff;
    box-shadow:0.3vw 0.3vw black;
    border:0.4vw solid black;
    font-weight:900;
    font-size:4vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.info{
    display:flex;
    margin-top:6.9vh;
    margin-bottom:15vh;
    width:101%;
    gap:2vw;
    text-align: center;
    margin-left:0.8vw;
}
.info img{
    height:19vw;
}
.boxed_info{
    border:0.75vw solid black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:2vw;
    width: 30%;
    background-color:#bceaff;
    height:37vw;
}
.about_us_image{ 
    width:100%;
    height:28vw;
    border-top:0.75vw solid black;
    border-bottom:0.75vw solid black;
}
.chalet_heading{
    font-size:3.69vw;
    font-weight: 900;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.chalet_info{
    margin-top:6.9vh;
    display: flex;
    width:120%;
    gap:1vw;
}
.chalet_box{
    border:0.75vw solid black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:1.61vw;
    width:26%;
    background-color:#bceaff;
    height:33.69vw;
    text-align: center;
}
.chalet_box p{
    margin:0.1em;
}
.chalet_box img{
    height:20vw;
}
.gallery_image{
    width:50vw;
    height:30vw;
    border:1vw solid black;
}
.side_gallery_image{
    width:20vw;
    height:12vw;
    opacity:70%;
    border:0.4vw solid black;
}
.membership_form{
    border:2vw solid black;
    width:50%;
    height:42vw;
    margin-left:22%;
    background-color:#affaff;
}
.login_section{
    font-size: 2.5vw;
    font-family:"Audiowide";
    padding:3vw 1vw;;
}
.login_section input{
    border:0.5vw solid black;
    font-weight:bolder;
    font-size:1.5vw;
    width:33%;
    float:right;
}
.membership_sub_button{
    border:0.5vw solid black;
    font-weight:bolder;
    font-size:2vw;
    width:15vw;
    margin-left:30%;
}
.membership_sub_button:hover{
    cursor:pointer;
    background-color:rgb(219, 219, 219);
}

