body{
    overflow-x:hidden; /*Hides horizontal scrollbar*/
    background-color: whitesmoke;
}
::-webkit-scrollbar {
    width: 8px;        /* Make the scrollbar length 8 pixels */
  }
::-webkit-scrollbar-thumb {
    background: #7ed8df; /* Make the scrollbar tracker light-blue, to fit the cold and cozy theme */
  }
::-webkit-scrollbar-track{
    background: #ffffff;
}

.header_links{
    margin-left:20vw;
    margin-top:2vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.header_links a{
    color:white;
    font-size:3vw;
    padding-left:3vw;
    padding-right:3vw;
    text-decoration: none;
    text-shadow:2px 2px 3px black;
    transition:200ms;
}

.header_links a:hover{  
    text-shadow:0px 0px black;
    
}

.home_page_image{
    width:100vw;
    height:100vh;
    position:absolute; /*Makes the image use up no whitespace, as it has 0px left/top. This makes the image neater*/
    left:0px;
    top:0px;
    z-index:-1; /*Makes other smaller images appear over this one, so they aren't overlapped*/
    opacity:70%; /*allows the logo to be seen more clearly*/
}

.logo_image{
    width:69.34vw;
    position: absolute;
    top:25%;
    left:16%;
}
.header_links{
    margin-left:20vw;
    margin-top:2vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.header_links a{
    color:white;
    font-size:3vw;
    padding-left:3vw;
    padding-right:3vw;
    text-decoration: none;
    text-shadow:2px 2px 3px black;
    transition:200ms;
}

.logo_image{
    width:69.34vw;
    position: absolute;
    top:20%;
    left:16%;
}
.quote{
color:rgb(53, 53, 53);
font-size:3.5vw;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
position:absolute;
left:25vw;
top:52vh;
} 

.about_us{
    margin-top:45vw
}
.about_us_intro_box{
    margin-left:38vw;
    width:20vw;
    height:10vh;
    background-color:#affaff;
    box-shadow:0.3vw 0.3vw black;
    border:3px solid black;
    font-weight:bold;
    font-size:4vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}